/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* box and cell sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .8);
}

/* basic css */
body {
    margin: 0;
}

h1 {
    color: black;
    text-align: center;
}

#info {
    text-align: center;
}

/* Making the board */
.gameboard {
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    position: fixed;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Removing the border from the outside */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Making a not-allowed cursor*/
.cell.X,
.cell.O {
    cursor: not-allowed;
}

.cell.X::before,
.cell.X::after {
    background-color: green;
}

/* adding a hover effect */
.gameboard.X .cell:not(.X):not(.O):hover::before,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    background-color: lightgreen;
}

/* making the X */
.cell.X::before,
.cell.X::after,
.gameboard.X .cell:not(.X):not(.O):hover::before,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .20);
    height: var(--mark-size);
}

/* rotating the L's created to make an 'X'*/
.cell.X::before,
.gameboard.X .cell:not(.X):not(.O):hover::before {
    transform: rotate(45deg);
}

.cell.X::after,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    transform: rotate(-45deg);
}

/* Creating the O */
.cell.O::before,
.cell.O::after {
    background-color: blue;
}

/* adding the hover effect to O */
.gameboard.O .cell:not(.X):not(.O):hover::before,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    background-color: lightblue;
}

.cell.O::before,
.cell.O::after,
.gameboard.O .cell:not(.X):not(.O):hover::before,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    content: '';
    position: absolute;
    border-radius: 60%;
}

.cell.O::before,
.gameboard.O .cell:not(.X):not(.O):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.O::after,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) *.7);
    background-color: white;
}

/* styles for the notification */
#notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#notification.hidden {
    display: none;
}

/* styles for the buttons and option menu */

.options {
    text-align: center;
    margin-top: 20px;
}

#startGameBtn,
#restartBtn,
#restartNotificationBtn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#resultMessage {
    font-size: 18px;
    margin-bottom: 10px;
}