/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* box and cell sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .8);
}

/* basic css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    margin: 0;
}

header {
    background-color: white;
    padding: 30px 0;
    margin: 0;
    text-align: center;
}

main {
    text-align: center;
    flex: 1;
    margin-top: 20px;
}

footer {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

#info {
    display: none;
    text-align: left;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
    padding-left: 10px;
}

.dropdown {
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    padding: 10px;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdownBtn {
    padding: 15px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(8, 111, 43, 1);
    color: #ffffff;
    border: 2px solid #388e3c;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#dropdownBtn:hover {
    background-color: #388e3c;
}

#dropdownBtn:active {
    background-color: #2e7d32;
}

#restartBtn {
    text-align: center;
    margin-top: -20px;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Making the board */
.gameboard {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid rgb(233, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Removing the border from the outside */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Making a not-allowed cursor*/
.cell.X,
.cell.O {
    cursor: not-allowed;
}

.cell.X::before,
.cell.X::after {
    background-color: rgb(0, 153, 255);
}

/* adding a hover effect */
.gameboard.X .cell:not(.X):not(.O):hover::before,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    background-color: lightskyblue;
}

/* making the X */
.cell.X::before,
.cell.X::after,
.gameboard.X .cell:not(.X):not(.O):hover::before,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .20);
    height: var(--mark-size);
}

/* rotating the L's created to make an 'X'*/
.cell.X::before,
.gameboard.X .cell:not(.X):not(.O):hover::before {
    transform: rotate(45deg);
}

.cell.X::after,
.gameboard.X .cell:not(.X):not(.O):hover::after {
    transform: rotate(-45deg);
}

/* Creating the O */
.cell.O::before,
.cell.O::after {
    background-color: rgb(80, 207, 80);
}

/* adding the hover effect to O */
.gameboard.O .cell:not(.X):not(.O):hover::before,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    background-color:  rgb(122, 219, 122);
}

.cell.O::before,
.cell.O::after,
.gameboard.O .cell:not(.X):not(.O):hover::before,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    content: '';
    position: absolute;
    border-radius: 60%;
}

.cell.O::before,
.gameboard.O .cell:not(.X):not(.O):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.O::after,
.gameboard.O .cell:not(.X):not(.O):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) *.7);
    background-color: black;
}


/* styles for the notification */
#notification {
    max-width: 400px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 4px solid rgb(233, 78, 78);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#notification p {
    font-size: 30px;
    margin-bottom: 15px;
}

#restartNotificationBtn {
    padding: 12px 24px;
    font-size: 18px;
}

#notification.hidden {
    display: none;
}

/* styles for the buttons and option menu */

.options {
    text-align: center;
    margin-top: -20px;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restartBtn,
#restartNotificationBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: rgba(202, 51, 18, 1);
    color: #ffffff;
    border: 2px solid #d32f2f;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#restartBtn:hover,
#restartNotificationBtn:hover {
    background-color: #c62828;
    border-color: #b71c1c;
}

#restartBtn:active,
#restartNotificationBtn:active {
    background-color: #b71c1c;
    border-color: #8e1a1a;
}

#gameMode {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: #0d47a1;
    color: #ffffff;
    border: 2px solid #1565c0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#gameMode:hover {
    background-color: #1565c0;
}

#gameMode:active {
    background-color: #0d47a1;
}

#resultMessage {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Media query for large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .gameboard {
        max-width: 50vw;
        margin: 20px auto 0;
    }
    .options {
        margin-top: 15px;
    }
    
    label[for="gameMode"] {
        margin-bottom: 5px;
        display: block;
    }
    
    #info,
    .options {
        margin-bottom: 10px;
    }
    
    #notification {
        width: 80%;
    }
}

/* media query for mobile devices */

@media only screen and (max-width: 600px) {
    .gameboard {
        max-width: 80vw;
        margin: 20px auto 40px;
    }

    .options {
        margin-top: 15px;
    }

    label[for="gameMode"] {
        margin-bottom: 5px;
        display: block;
    }

    #info,
    .options {
        margin-bottom: 10px;
    }

    #notification {
        width: 80%;
    }
}

/* Media query for Tablets (768 px)*/
@media screen and (min-width: 768px) {
    .gameboard {
        max-width: 600px;
        margin: 35px auto;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(3, auto);
    }
    .options {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    label[for="gameMode"] {
        margin-bottom: 5px;
        display: block;
    }
    
    #info,
    .options {
        margin-bottom: 10px;
    }
    
    #notification {
        width: 80%;
    }
}