/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* box and cell sizing */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size:100px;
}

/* basic css */

body {
    margin: 0;
}

h1 {
    color: black;
    text-align: center;
}

#info {
    text-align: center;
}

/* Making the board */

.gameboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

/* Removing the border from the outside */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* winning message and reset button */

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 66, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: black;
    padding: .30em .6em;
    cursor: pointer;
}